<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <emailblock>
                <domains>
                    <domains>163.com,mail.ru</domains>
                </domains>
                 <message>
                    <domains>We do not allow registration from your email domain</domains>
                </message>
            </emailblock>
        </default>
    </config>
